{% extends "base.html" %}

{% block title %}Restablecer contraseña{% endblock %}

{% block content %}
<section class="mt-5 container pt-5 text-center">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-sm-9 col-md-12 col-lg-9 col-xl-9">
            <div class="popup card">
            <div class="card-body p-4 p-md-5">
                <h3 class="text-center mb-4 pb-2 pb-md-0 mb-md-5">Restablecer contraseña</h3>
                {% if validlink %}
                    <p>Por favor ingrese su nueva contraseña:</p>
                    <form method="post">
                        {% if form.new_password1.errors or form.new_password2.errors %}
                            <p class="error">Las contraseñas no coinciden</p>
                        {% endif %}
                        <div class="row">
                            <div class="col-4">
                                <label for="{{ form.new_password1.id_for_label }}">Nueva Contraseña:</label>
                            </div>
                            <div class="col-8">
                                {{ form.new_password1 }}
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-4">
                                <label for="{{ form.new_password2.id_for_label }}">Repita Contraseña:</label>
                            </div>
                            <div class="col-8">
                                {{ form.new_password2 }}
                            </div>
                        </div>
                        <br>
                        {% csrf_token %}
                        <div class="text-center">
                            <input class="btn btn-primary btn-lg" type="submit" value="Cambiar Contraseña">
                        </div>
                    </form>
                {% else %}
                    <p>
                        El enlace es invalido, posiblemente porque ya ha dido usado.
                    </p>
                    <p>
                        Por favor, pida un nuevo restablecimiento de contraseña
                    </p>
                {% endif %}
            </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

<!--
                    <form method="post">
                        {{ form.as_p }}
                        {% csrf_token %}
                        <div class="text-center">
                            <input class="btn btn-primary btn-lg" type="submit" value="Cambiar contraseña">
                        </div>
                    </form>
-->