{% extends "base.html" %}

{% block title %}Edit your account{% endblock %}

{% block content %}
{% load thumbnail %}
<section class="mt-5 container pt-5 text-center">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-sm-9 col-md-12 col-lg-9 col-xl-9">
            <div class="popup card">
            <div class="card-body p-4 p-md-5">
                <h3 class="text-center mb-2 pb-2 pb-md-0 mb-md-2">Editar Cuenta</h3>
                <img src="{% thumbnail request.user.profile.photo 100x100 autocrop %}" class="rounded-circle mb-4">
                <form form method="post" enctype="multipart/form-data">
                    {% if user_form.non_field_errors %}
                        <p class="error">Error! Revise los campos</p>
                    {% endif %}
                    <div class="row">
                        <div class="col-4">
                            <label for="{{ user_form.first_name.id_for_label }}">Nombre:</label>
                        </div>
                        <div class="col-8">
                            {{ user_form.first_name }}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-4">
                            <label for="{{ user_form.last_name.id_for_label }}">Apellidos:</label>
                        </div>
                        <div class="col-8">
                            {{ user_form.last_name }}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-4">
                            <label for="{{ user_form.email.id_for_label }}">Email:</label>
                        </div>
                        <div class="col-8">
                            {{ user_form.email }}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-3">
                            <label for="{{ profile_form.photo.id_for_label }}">Foto:</label>
                        </div>
                        <div class="col-9">
                            {{ profile_form.photo }}
                        </div>
                    </div>
                    <br>
                    {% csrf_token %}
                    <div class="text-center">
                        <input class="btn btn-primary btn-lg" type="submit" value="Guardar Cambios">
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

<!--
                <form method="post" enctype="multipart/form-data">
                    {{ user_form.as_p }}
                    {{ profile_form.as_p }}
                    {% csrf_token %}
                    <div class="text-center">
                        <input class="btn btn-primary btn-lg" type="submit" value="Guardar Cambios">
                    </div>
                </form>
-->
