{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<section class="mt-5 container pt-5 text-center">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-sm-9 col-md-12 col-lg-9 col-xl-9">
            <div class="popup card">
            <div class="card-body p-4 p-md-5">
                <h3>Bienvenid@ {{ new_user.first_name }}!</h3>
                <p>
                    Tu cuenta se ha creado correctamente.
                    Ahora puedes <a href="{% url "login" %}">iniciar sesion</a>.
                </p>
            </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}